.p{
    &--y{
        padding: 120px 0px;
    }
    @include media-sm{
        &--y{
            padding: 30px 0px;
        }
    }
}

.width-100{
    width: 100%;
}

.open{
    padding: 15px 0px;
    transition: 0.3s all ease-in;
    display: block;
}

.close{
    padding: 0px 0px;
    height: 0px;
    opacity: 0;
    transition: 0.2s all ease-out;
}

.hide{
    width: 0;
    height: 0;
    opacity: 0;
}

.hide-search{
    display: none;
}

// drop down menu
.item-list{
    @include media-sm{
        display: none;
    }
    @include media-md{
        display: none;
    }
}

.rotate-up{
    @include media-sm{
        transform: rotate(180deg);
        transition: 0.3s all ease-in-out;
    }
    @include media-md{
        transform: rotate(180deg);
        transition: 0.3s all ease-in-out;
    }
    @include media-xl{
        transform: none;
    }
}
// drop down menu styling end

.fa-caret-down{
    cursor: pointer;
    color: var(--primary-color);
}

.bg-primary{
    background-color: rgba(23,190,138,0.05);
}

.signature-text{
    font-family: var(--signature-font);
}

.grid-start{
    display: grid;
    justify-items: start;
}

.social-media{
    margin: auto 0;
    &__links{
        display: flex;
        gap: 19.7px;
    }
    a{
        color: rgba(35,35,35, 0.6);
        &:hover{
            color: var(--primary-color);
        }
    }
}

.border-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    &__start{
        justify-content: start;
    }
    &__primary-dotted{
        padding: 1px;
        border: 1px dotted var(--primary-color);
    }
    &__secondary-dotted{
        padding: 1px;
        border: 1px dotted var(--secondary-color);
    }
}

.primary-button{
    color: #fff;
    cursor: pointer;
    padding: 14px 25px;
    font-size: 1.0625rem;
    border: none;
    font-family: var(--header-font);
    background-color: var(--primary-color);
}

.secondary-button{
    color: #000;
    padding: 14px 25px;
    font-size: 1.0625rem;
    border: none;
    cursor: pointer;
    font-family: var(--header-font);
    background-color: var(--secondary-color);
}

.section-title{
    &__header{
        z-index: -1;
        position: relative;
        &--secondary{
            position: absolute;
            width: 100%;
            height: 10px;
            background: var(--secondary-color);
            opacity: 0.1;
            border: none;
            bottom: 10px;
            z-index: -1;
            left: 0px;
            @include media-sm{
                display: none;
            }
        }
    }
    &__line{
        margin: auto 0;
        &--second{
            width: 71px;
            @include media-sm{
                display: none;
            }
        }
    }
    &__paragraph{
        padding: 15px 0px;
        max-width: 970px;
        color: #333333;
        font-size: 1.375rem;
        line-height: 1.954em;
    }
    @include media-md{
        display: flex;
        gap: 49.2px;
    }
}

.swiper-pagination-bullet{
    background-color: #fff !important;
    width: 15px !important;
    height: 15px !important;
    clip-path: polygon(50% 0, 0 50%, 50% 99%, 98% 50%);
}

.swiper-pagination-bullet-active{
    background: var(--primary-color) !important;
}

.arrow-button{
    position: relative;
    &__text{
        cursor: pointer;
        color: var(--primary-color);
        background-color: transparent;
        border: none;
        // line-height: 2.414em;
        font-size: 0.90rem;
        padding-bottom: 5px;
        border-bottom: 1px dotted var(--primary-color);
    }
    &__arrow{
        right: -1px;
        bottom: -11px;
        padding-left: 5px;
        background-color: #fff;
        color: var(--primary-color);
        font-size: 0.6rem;
        position: absolute;
    }
}

// ring bell animation
#bell-icon{
    display: none;
    animation: bell-ring 5s .2s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@keyframes bell-ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}
// ring bell animation end


// thumbs up animation
.icon-thumbs-up{
    animation: thumbs-up 5s .2s ease-in-out infinite;
    transform-origin: 150% 4px;
}

@keyframes thumbs-up {
    0% { transform: scale(1); }
    5% { transform: scale(1.5); }
    15% { transform: rotate(15deg); }
    25% { transform: scale(1.5); }
    35% { transform: scale(1); }
    45% { transform: scale(1); }
    100% { transform: scale(1); }
}
// thumbs up animation end

// heart animation
.icon-heart{
    animation: heart 5s .2s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@keyframes heart {
    0% { transform: scale(1); }
    25% { transform: scale(1.3); }
    35% { transform: rotateY(180deg); }
    55% { transform: rotateY(190deg); }
    75% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

input[type=text], input[type=email]{
    border: none;
    width: 100%;
    height: 50px;
    margin-top: 7px;
    opacity: 0.9;
}

