:root {
  --body-color: #232323;
  --primary-color: #17BE8A;
  --secondary-color: #FFDF00;
  --header-font: 'Roboto Slab', serif;
  --paragraph-font: 'Questrial', sans-serif;
  --signature-font: 'Brittany Signature', sans-serif;
  --notification-font: 'Didact Gothic', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: var(--body-color);
  font-family: var(--paragraph-font); }

img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  border: none;
  font-family: inherit; }

h1 {
  font-weight: normal;
  font-size: 2.5rem;
  font-family: var(--header-font); }

h2 {
  line-height: 1.657em;
  font-weight: normal;
  font-size: 2.1875rem;
  font-family: var(--header-font); }

.swiper-slide {
  text-align: center; }

.swiper-button-disabled {
  opacity: 0.5; }

.p--y {
  padding: 120px 0px; }

@media (max-width: 767px) {
  .p--y {
    padding: 30px 0px; } }

.width-100 {
  width: 100%; }

.open {
  padding: 15px 0px;
  transition: 0.3s all ease-in;
  display: block; }

.close {
  padding: 0px 0px;
  height: 0px;
  opacity: 0;
  transition: 0.2s all ease-out; }

.hide {
  width: 0;
  height: 0;
  opacity: 0; }

.hide-search {
  display: none; }

@media (max-width: 767px) {
  .item-list {
    display: none; } }

@media (min-width: 768px) {
  .item-list {
    display: none; } }

@media (max-width: 767px) {
  .rotate-up {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out; } }

@media (min-width: 768px) {
  .rotate-up {
    transform: rotate(180deg);
    transition: 0.3s all ease-in-out; } }

@media (min-width: 1200px) {
  .rotate-up {
    transform: none; } }

.fa-caret-down {
  cursor: pointer;
  color: var(--primary-color); }

.bg-primary {
  background-color: rgba(23, 190, 138, 0.05); }

.signature-text {
  font-family: var(--signature-font); }

.grid-start {
  display: grid;
  justify-items: start; }

.social-media {
  margin: auto 0; }

.social-media__links {
  display: flex;
  gap: 19.7px; }

.social-media a {
  color: rgba(35, 35, 35, 0.6); }

.social-media a:hover {
  color: var(--primary-color); }

.border-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px; }

.border-buttons__start {
  justify-content: start; }

.border-buttons__primary-dotted {
  padding: 1px;
  border: 1px dotted var(--primary-color); }

.border-buttons__secondary-dotted {
  padding: 1px;
  border: 1px dotted var(--secondary-color); }

.primary-button {
  color: #fff;
  cursor: pointer;
  padding: 14px 25px;
  font-size: 1.0625rem;
  border: none;
  font-family: var(--header-font);
  background-color: var(--primary-color); }

.secondary-button {
  color: #000;
  padding: 14px 25px;
  font-size: 1.0625rem;
  border: none;
  cursor: pointer;
  font-family: var(--header-font);
  background-color: var(--secondary-color); }

.section-title__header {
  z-index: -1;
  position: relative; }

.section-title__header--secondary {
  position: absolute;
  width: 100%;
  height: 10px;
  background: var(--secondary-color);
  opacity: 0.1;
  border: none;
  bottom: 10px;
  z-index: -1;
  left: 0px; }

@media (max-width: 767px) {
  .section-title__header--secondary {
    display: none; } }

.section-title__line {
  margin: auto 0; }

.section-title__line--second {
  width: 71px; }

@media (max-width: 767px) {
  .section-title__line--second {
    display: none; } }

.section-title__paragraph {
  padding: 15px 0px;
  max-width: 970px;
  color: #333333;
  font-size: 1.375rem;
  line-height: 1.954em; }

@media (min-width: 768px) {
  .section-title {
    display: flex;
    gap: 49.2px; } }

.swiper-pagination-bullet {
  background-color: #fff !important;
  width: 15px !important;
  height: 15px !important;
  clip-path: polygon(50% 0, 0 50%, 50% 99%, 98% 50%); }

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important; }

.arrow-button {
  position: relative; }

.arrow-button__text {
  cursor: pointer;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  font-size: 0.90rem;
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--primary-color); }

.arrow-button__arrow {
  right: -1px;
  bottom: -11px;
  padding-left: 5px;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 0.6rem;
  position: absolute; }

#bell-icon {
  display: none;
  animation: bell-ring 5s .2s ease-in-out infinite;
  transform-origin: 50% 4px; }

@keyframes bell-ring {
  0% {
    transform: rotate(0); }
  1% {
    transform: rotate(30deg); }
  3% {
    transform: rotate(-28deg); }
  5% {
    transform: rotate(34deg); }
  7% {
    transform: rotate(-32deg); }
  9% {
    transform: rotate(30deg); }
  11% {
    transform: rotate(-28deg); }
  13% {
    transform: rotate(26deg); }
  15% {
    transform: rotate(-24deg); }
  17% {
    transform: rotate(22deg); }
  19% {
    transform: rotate(-20deg); }
  21% {
    transform: rotate(18deg); }
  23% {
    transform: rotate(-16deg); }
  25% {
    transform: rotate(14deg); }
  27% {
    transform: rotate(-12deg); }
  29% {
    transform: rotate(10deg); }
  31% {
    transform: rotate(-8deg); }
  33% {
    transform: rotate(6deg); }
  35% {
    transform: rotate(-4deg); }
  37% {
    transform: rotate(2deg); }
  39% {
    transform: rotate(-1deg); }
  41% {
    transform: rotate(1deg); }
  43% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }

.icon-thumbs-up {
  animation: thumbs-up 5s .2s ease-in-out infinite;
  transform-origin: 150% 4px; }

@keyframes thumbs-up {
  0% {
    transform: scale(1); }
  5% {
    transform: scale(1.5); }
  15% {
    transform: rotate(15deg); }
  25% {
    transform: scale(1.5); }
  35% {
    transform: scale(1); }
  45% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

.icon-heart {
  animation: heart 5s .2s ease-in-out infinite;
  transform-origin: 50% 4px; }

@keyframes heart {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1.3); }
  35% {
    transform: rotateY(180deg); }
  55% {
    transform: rotateY(190deg); }
  75% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

input[type=text], input[type=email] {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: 7px;
  opacity: 0.9; }

.container-fluid {
  margin: 0 auto;
  padding: 0px 16px; }

.container {
  margin: 0 auto;
  padding: 0px 16px; }

@media (max-width: 767px) {
  .container-fluid {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container-fluid {
    max-width: 800px; } }

@media (min-width: 992px) {
  .container-fluid {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1600px; } }

@media (max-width: 767px) {
  .container {
    max-width: 510px; } }

@media (min-width: 768px) {
  .container {
    max-width: 770px; } }

@media (min-width: 992px) {
  .container {
    max-width: 930px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 95; }

.hamburger {
  width: 22.64px;
  height: 2.2px;
  background-color: rgba(35, 35, 35, 0.6);
  position: relative;
  margin: auto 0;
  border-radius: 15px;
  z-index: 1000;
  cursor: pointer; }

.hamburger::before, .hamburger::after {
  content: '';
  width: 22.64px;
  height: 2.2px;
  background-color: rgba(35, 35, 35, 0.6);
  position: absolute;
  border-radius: 15px;
  transition: 0.25s ease-in-out; }

.hamburger::before {
  transform: translateY(-7px); }

.hamburger::after {
  transform: translateY(7px); }

.hamburger-menu {
  width: 35px;
  height: 5px;
  background-color: #000;
  position: relative;
  margin: auto 0;
  border-radius: 15px;
  z-index: 99;
  cursor: pointer; }

.hamburger-menu::before, .hamburger-menu::after {
  content: '';
  width: 35px;
  height: 5px;
  background-color: #000;
  position: absolute;
  border-radius: 15px;
  transition: 0.25s ease-in-out; }

.hamburger-menu::before {
  transform: translateY(-12px); }

.hamburger-menu::after {
  transform: translateY(12px); }

@media (min-width: 1200px) {
  .hamburger-menu {
    display: none; } }

.extra-menu {
  display: none; }

.extra-menu__items {
  position: fixed;
  inset: 0 70% 0 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;
  z-index: 100;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 120px;
  box-shadow: -5px 3px 24px -18px black inset; }

.extra-menu__items a {
  color: #000; }

@media (max-width: 767px) {
  .extra-menu__items {
    inset: 0 0 0 30%; } }

.extra-menu a:hover {
  color: var(--primary-color); }

.top-notification {
  font-size: 1em;
  color: #fff;
  line-height: 35px;
  position: relative;
  background-color: var(--primary-color);
  font-family: var(--notification-font); }

.top-notification__content {
  column-gap: 50px;
  display: flex; }

.top-notification__icon {
  position: absolute;
  cursor: pointer;
  font-size: 1.5em; }

.top-notification__button {
  cursor: pointer;
  padding: 6px 16px;
  border: none;
  font-family: var(--header-font);
  background-color: var(--secondary-color); }

@media (max-width: 767px) {
  .top-notification {
    padding: 0px 0px; }
  .top-notification__content {
    height: 0;
    opacity: 0; }
  .top-notification__icon {
    top: 3px;
    right: 9px; }
  .top-notification__text {
    margin-right: 0px; }
  .top-notification__button {
    margin-left: 0px; } }

@media (min-width: 768px) {
  .top-notification__content {
    flex-direction: column; }
  .top-notification__icon {
    top: 7px;
    right: 10px; }
  .top-notification__text {
    margin-right: 0px; }
  .top-notification__button {
    margin-left: 0px; } }

@media (min-width: 1200px) {
  .top-notification__content {
    justify-content: center;
    flex-direction: row; }
  .top-notification__icon {
    top: 19px;
    right: 30px; } }

.details {
  padding: 16px 0px;
  font-family: var(--notification-font);
  background-color: #FFFDEB; }

.details__content {
  position: relative;
  display: flex;
  justify-content: space-between; }

.details__bell {
  top: -16px;
  right: 130px;
  position: absolute;
  color: #fff;
  font-size: 0.8em;
  padding: 6px;
  border-radius: 5px;
  display: none;
  background-color: var(--primary-color); }

.details__social-media--links {
  display: flex;
  gap: 19.7px; }

.details__social-media a {
  color: rgba(35, 35, 35, 0.6); }

.details__contact-address--links {
  display: flex;
  column-gap: 30.9px; }

.details__contact-address--icon {
  color: var(--primary-color);
  font-size: 0.8em; }

.details__contact-address a {
  color: inherit; }

.details__contact-address a:hover {
  color: var(--primary-color); }

.details__icons-navigation {
  display: flex;
  gap: 20.4px; }

.details__icons-navigation--search-cart {
  display: flex;
  gap: 14.5px; }

.details__icons-navigation--icon {
  cursor: pointer;
  color: rgba(35, 35, 35, 0.6); }

.details__icons-navigation--icon:hover {
  color: var(--primary-color); }

.details__icons-navigation--cart-icon {
  position: relative; }

.details__icons-navigation--total-item {
  top: -9px;
  right: -9px;
  color: #fff;
  position: absolute;
  font-size: 0.75em;
  padding: 2px 4.5px;
  border-radius: 50%;
  font-family: var(--paragraph-font);
  background-color: var(--primary-color); }

@media (max-width: 767px) {
  .details__content {
    position: relative;
    row-gap: 10px;
    flex-direction: column; }
  .details__contact-address {
    display: none; }
  .details__icons-navigation {
    right: 0px;
    position: absolute; }
  .details__bell {
    height: 0;
    opacity: 0; } }

.search {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  font-family: var(--paragraph-font);
  transition: 0.5s ease-in-out; }

.search__close-icon {
  top: 80px;
  right: 260px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute; }

.search__form {
  text-align: center;
  top: 50%;
  position: relative; }

.search__form--search {
  width: 50%;
  padding: 16px;
  font-size: 1.5em;
  border: none; }

.search__form--search:focus {
  outline: solid var(--primary-color); }

.search__form--submit {
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
  padding: 16px 20px;
  border: none;
  background-color: var(--primary-color); }

.search__form--submit:hover {
  color: #000;
  transition: 0.5s all ease-in-out;
  background-color: var(--secondary-color); }

.search__hide {
  display: none; }

.search__open {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out; }

@media (max-width: 767px) {
  .search__close-icon {
    top: 15px;
    right: 50px; }
  .search__form--search {
    width: 60%;
    padding: 8px;
    font-size: 1em; }
  .search__form--submit {
    padding: 8px;
    font-size: 1em; } }

.small-menu-animate {
  position: relative;
  background-color: transparent; }

.small-menu-animate::before {
  transform: rotate(-45deg); }

.small-menu-animate::after {
  transform: rotate(45deg); }

.animate-menu {
  position: relative;
  background-color: transparent; }

.animate-menu::before {
  transform: rotate(-45deg); }

.animate-menu::after {
  transform: rotate(45deg); }

.menu {
  background-color: #fff;
  font-size: 0.9375em;
  padding: 24px 0px;
  font-family: var(--header-font);
  box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.13); }

.menu__content {
  column-gap: 30px; }

.menu__navbar-button {
  display: flex;
  justify-content: end;
  column-gap: 75px; }

.menu__navbar {
  margin: auto 0; }

.menu__navbar--links {
  row-gap: 15px;
  column-gap: 55px;
  display: flex;
  flex-wrap: wrap; }

.menu__navbar a {
  color: #000; }

.menu__navbar a:hover {
  color: var(--primary-color); }

.menu__button-section {
  margin: auto 0; }

.menu__button-section--button {
  cursor: pointer;
  font-size: 1em;
  padding: 13px 25px;
  border: 1px dotted var(--primary-color);
  color: var(--primary-color);
  background-color: #fff; }

.menu__button-section--button:hover {
  border: 1px dotted #fff;
  color: #fff;
  background-color: var(--primary-color); }

@media (max-width: 767px) {
  .menu {
    padding: 12px 0px; }
  .menu__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 80% auto;
    column-gap: 10px; }
  .menu__logo {
    margin-left: 0px; }
  .menu__navbar-button {
    display: none;
    flex-direction: column-reverse;
    justify-content: center; }
  .menu__drop-menu--list {
    display: grid;
    padding-top: 2em;
    gap: 2em; }
  .menu__sub-drop--list {
    display: grid;
    padding-top: 2em;
    gap: 2em; } }

@media (min-width: 768px) {
  .menu {
    padding: 12px 0px; }
  .menu__content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 80% auto; }
  .menu__navbar-button {
    display: none; }
  .menu__drop-menu--list {
    display: grid;
    padding-top: 2em;
    gap: 2em; }
  .menu__sub-drop--list {
    display: grid;
    padding-top: 2em;
    gap: 2em; } }

@media (min-width: 1200px) {
  .menu__content {
    display: flex;
    justify-content: space-between; }
  .menu__navbar-button {
    display: flex; }
  .menu__drop-menu {
    position: relative; }
  .menu__drop-menu--item {
    display: none; }
  .menu__drop-menu:hover .menu__drop-menu--item {
    width: 200px;
    display: grid;
    padding: 16px;
    gap: 16px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 9px -7px rgba(0, 0, 0, 0.5); }
  .menu__sub-drop {
    position: relative; }
  .menu__sub-drop--item {
    display: none; }
  .menu__sub-drop:hover .menu__sub-drop--item {
    top: -70%;
    left: 100%;
    width: 150px;
    display: grid;
    padding: 16px;
    gap: 16px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 3px 9px -7px rgba(0, 0, 0, 0.5); } }

@media (max-width: 767px) {
  .list-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 30% 0 0;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 60px; }
  .list-nav--links {
    display: flex;
    flex-direction: column;
    gap: 3em; } }

@media (min-width: 768px) {
  .list-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0 30% 0 0;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 120px; }
  .list-nav--links {
    display: flex;
    flex-direction: column;
    gap: 3em; } }

@media (min-width: 1200px) {
  .list-nav {
    display: none; } }

.first-section {
  width: 100%;
  padding: 120px 150px; }

.first-section__content {
  row-gap: 15px;
  display: grid;
  align-items: center; }

.first-section__texts {
  margin: auto 0; }

.first-section__text-content {
  margin: 0 auto;
  text-align: center;
  padding: 75px 88px 80px;
  background-color: #fff;
  max-width: 678px; }

.first-section__text-content--paragraph {
  line-height: 1.954em;
  font-size: 1.375em;
  padding: 33px 0px 36px 0px; }

@media (max-width: 767px) {
  .first-section {
    padding: 30px 16px; }
  .first-section__text-content {
    padding: 20px 22px 30px; } }

@media (min-width: 992px) {
  .first-section__content {
    grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 1200px) {
  .first-section__content {
    grid-template-columns: 65% auto; }
  .first-section__texts {
    margin-left: -120px; } }

.as-seen {
  padding: 90px 0px 69px 0px; }

.as-seen__content {
  text-align: center; }

.as-seen__title--paragraph {
  line-height: 1.78em;
  font-size: 1.125em;
  text-transform: uppercase; }

.as-seen__image {
  padding: 26px 0px;
  row-gap: 30px;
  column-gap: 132px;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

@media (max-width: 767px) {
  .as-seen {
    padding: 30px 0px; }
  .as-seen__image {
    padding: 20px 0px 0px;
    justify-content: center; } }

@media (min-width: 768px) {
  .as-seen__image {
    justify-content: space-evenly; } }

@media (min-width: 1200px) {
  .as-seen__image {
    justify-content: space-between; } }

.health-coach {
  padding: 120px 0px 294.05px 0px; }

.health-coach__card--next {
  top: 50%;
  right: -2.3%;
  z-index: 5;
  position: absolute; }

.health-coach__card--prev {
  top: 50%;
  left: -2.3%;
  z-index: 5;
  position: absolute; }

.health-coach__card--slider-navigation {
  cursor: pointer;
  color: var(--primary-color);
  padding: 22px 10px;
  border: 1px solid var(--primary-color);
  background-color: #fff; }

@media (max-width: 767px) {
  .health-coach {
    padding: 15px 0px 350px; }
  .health-coach__card--next {
    right: 2%; }
  .health-coach__card--prev {
    left: 2%; } }

.about-me__slider-section {
  position: relative; }

.about-me__feature-card--image {
  position: relative; }

.about-me__feature-card--contents {
  padding: 0px 40px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  transform: translate(2px, 0px); }

.about-me__feature-card--texts {
  gap: 25px;
  display: grid;
  justify-items: center;
  padding: 67px 30.1px 39.4px 30.5px;
  background-color: #fff; }

.about-me__feature-card--title {
  font-family: var(--header-font);
  font-size: 1.125em;
  line-height: 2.5em; }

.about-me__details {
  position: relative;
  padding: 165px 0px 57px 0px;
  display: grid; }

.about-me__details--back-image {
  z-index: -1;
  top: 120px;
  left: 204px;
  position: absolute; }

.about-me__images {
  margin: auto 0;
  position: relative; }

.about-me__images--main {
  position: relative; }

.about-me__images--thumbs-up {
  top: -3%;
  right: 25%;
  position: absolute; }

.about-me__images--heart {
  left: -3%;
  top: 50%;
  position: absolute; }

.about-me__text {
  background-color: #fff; }

.about-me__hi {
  line-height: 1.267em;
  font-size: 3.75em;
  font-family: var(--signature-font);
  transform: rotate(-8deg); }

.about-me__paragraph {
  line-height: 1.78em;
  font-size: 1.125em;
  padding: 35px 0px 21.5px; }

.about-me__mission {
  font-family: var(--header-font);
  font-size: 1.375em;
  line-height: 1.818em;
  padding: 21.5px 0px 50px; }

@media (max-width: 767px) {
  .about-me {
    padding: 50px 0px 30px 0px; }
  .about-me__slider-section {
    margin-top: -375px; }
  .about-me__details {
    padding: 50px 0px 0px 0px;
    grid-template-columns: repeat(1, 1fr); }
  .about-me__details--back-image {
    display: none; }
  .about-me__text {
    gap: 10px;
    padding: 0px; }
  .about-me__feature-card--contents {
    padding: 0px 20px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    gap: 15px; }
  .about-me__feature-card--texts {
    padding: 25px 20px 15px;
    background-color: #fff; }
  .about-me__feature-card--title {
    font-size: 1em; }
  .about-me__hi {
    padding: 15px 20px 35px; }
  .about-me__paragraph {
    padding: 15px 0px; }
  .about-me__mission {
    padding: 0px 0px 15px 0px; } }

@media (min-width: 768px) {
  .about-me__slider-section {
    margin-top: -270px; }
  .about-me__main-image {
    width: 100%; }
  .about-me__details {
    grid-template-columns: repeat(1, 1fr); }
  .about-me__details--back-image {
    display: none; }
  .about-me__text {
    padding: 0px; }
  .about-me__hi {
    padding: 0px 20px 75px; } }

@media (min-width: 992px) {
  .about-me__slider-section {
    margin-top: -320px; }
  .about-me__images--thumbs-up {
    top: -1.5%;
    right: 25%; }
  .about-me__images--heart {
    left: -1.5%;
    top: 50%; }
  .about-me__hi {
    padding: 15px 20px 75px; } }

@media (min-width: 1200px) {
  .about-me__slider-section {
    margin-top: -265px; }
  .about-me__main-image {
    width: auto; }
  .about-me__images--thumbs-up {
    top: -3%;
    right: 25%; }
  .about-me__images--heart {
    left: -3%;
    top: 50%; }
  .about-me__details {
    grid-template-columns: 45.3% auto; }
  .about-me__details--back-image {
    display: block; }
  .about-me__text {
    padding: 40.4px 0px 63px 64px; }
  .about-me__hi {
    padding: 0px 0px 50px 24px; } }

.line {
  padding: 30px 0px; }

.line__primary {
  height: 1px;
  border: none;
  opacity: 0.1;
  background-color: var(--primary-color); }

@media (max-width: 767px) {
  .line {
    padding: 0px; } }

.benifits {
  padding: 90px 0px 70px 0px; }

.benifits__details {
  padding: 70px 0px 50px 0px;
  display: grid; }

.benifits__all-benifits {
  display: grid; }

.benifits__card {
  padding: 41px 40px 57px;
  border: 1px solid #88eebe83; }

.benifits__card--title {
  padding: 21px 0px 20px;
  line-height: 2.368em;
  font-size: 1.1875em;
  font-family: var(--header-font); }

.benifits__card--paragraph {
  line-height: 1.78em;
  font-size: 1.125em; }

.benifits__banner {
  position: relative;
  text-align: center;
  background-color: #FFFDEB;
  z-index: -2; }

.benifits__banner--image {
  top: -51px;
  right: -16px;
  position: absolute; }

.benifits__banner--texts {
  display: grid;
  gap: 23px;
  padding: 82px 27px; }

.benifits__banner--title {
  padding: 0px 35px;
  line-height: 1.67em;
  text-transform: capitalize; }

.benifits__banner--paragraph {
  line-height: 1.954em;
  font-size: 1.375em; }

.benifits__banner--button {
  padding-top: 32px; }

.benifits__banner--shape {
  width: 0;
  height: 0;
  border-bottom: 375px solid rgba(255, 223, 0, 0.1);
  border-left: 310px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; }

@media (max-width: 767px) {
  .benifits {
    padding: 30px 0px; }
  .benifits__details {
    gap: 55px;
    padding: 0px 0px; }
  .benifits__all-benifits {
    gap: 15px;
    padding-right: 0px; }
  .benifits__card {
    padding: 20px; }
  .benifits__card--title {
    padding: 0px 0px; }
  .benifits__banner--title {
    padding: 0px; } }

@media (min-width: 768px) {
  .benifits__details {
    row-gap: 55px;
    grid-template-columns: repeat(1, 1fr); }
  .benifits__all-benifits {
    gap: 30px;
    padding-right: 0px;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1200px) {
  .benifits__details {
    grid-template-columns: 68.377% auto; }
  .benifits__all-benifits {
    gap: 30px;
    padding-right: 30px;
    grid-template-columns: repeat(2, 1fr); } }

.stories {
  padding: 120px 0px 406px 0px; }

@media (max-width: 767px) {
  .stories {
    padding: 30px 0px 250px 0px; } }

.feedback {
  margin-top: -335px;
  padding-bottom: 120px; }

.feedback__content {
  padding: 0px 165px;
  position: relative; }

.feedback__nav {
  z-index: 5;
  cursor: pointer;
  position: absolute; }

.feedback__swiper-started {
  margin: 20px auto 0px;
  max-width: 970px;
  max-height: 580px;
  position: relative;
  background-color: #232323; }

.feedback__swiper {
  top: -50px; }

.feedback__card {
  margin: 0 auto;
  max-width: 970px;
  font-family: var(--header-font); }

.feedback__card--texts {
  color: #fff; }

.feedback__card--main-text {
  line-height: 1.875em;
  font-size: 1.5em; }

.feedback__card--sub-text {
  line-height: 1.78em;
  font-size: 1.125em;
  padding: 16px 0px 8px;
  font-family: var(--paragraph-font); }

.feedback__card--author {
  line-height: 1.3em;
  font-size: 3.56em;
  padding: 8px 0px;
  font-family: var(--signature-font); }

.feedback__card--user-designation {
  line-height: 2.187em; }

.feedback__bullet {
  display: flex;
  gap: 13px;
  margin: 0 auto;
  max-width: 970px;
  margin-top: -1px;
  justify-content: center;
  padding: 27.5px 0px 30px;
  background-color: #232323; }

@media (max-width: 767px) {
  .feedback {
    margin-top: -265px;
    padding-bottom: 30px; }
  .feedback__content {
    padding: 0px; }
  .feedback__nav--icon {
    width: 70%; }
  .feedback__nav--right {
    top: 50%;
    right: -2%; }
  .feedback__nav--left {
    top: 50%;
    left: 2%; }
  .feedback__swiper-started {
    margin-top: 60px;
    max-height: 800px; }
  .feedback__card--texts {
    padding: 24px 46.25px 6.75px 46.25px; }
  .feedback__card--main-text {
    line-height: 35px;
    font-size: 1.2em; }
  .feedback__card--sub-text {
    font-size: 1em; }
  .feedback__card--author {
    font-size: 2.5em; } }

@media (min-width: 768px) {
  .feedback__content {
    padding: 0px 30px; }
  .feedback__nav--right {
    top: 50%;
    right: 8%; }
  .feedback__nav--left {
    top: 50%;
    left: 8%; }
  .feedback__card--texts {
    padding: 44px 95px 13.5px 95px; } }

@media (min-width: 992px) {
  .feedback__nav--right {
    top: 50%;
    right: 5%; }
  .feedback__nav--left {
    top: 50%;
    left: 5%; }
  .feedback__card--texts {
    padding: 36px 185px 27.5px 185px; } }

@media (min-width: 1200px) {
  .feedback__nav--right {
    top: 50%;
    right: 10%; }
  .feedback__nav--left {
    top: 50%;
    left: 10%; } }

.start {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assests/img/image-2.png");
  font-family: var(--header-font); }

.start__content {
  display: grid; }

.start__art {
  padding: 86px 80px;
  background-color: #fff; }

.start__art--title {
  line-height: 45px;
  font-size: 1.875em; }

.start__art--texts {
  line-height: 43px;
  font-size: 1.375em;
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--paragraph-font); }

.start__art--paragraph {
  padding: 36px 0px 50px 0px; }

.start__art--list {
  display: grid;
  gap: 34px;
  line-height: 25px;
  font-size: 1.125em;
  padding-left: 25px;
  list-style-image: url("/assests/img/icons/check.png"); }

.start li::marker {
  margin-top: 5px; }

.start__curious {
  z-index: 0;
  color: #fff;
  text-align: center;
  padding: 96px 30px;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color); }

.start__curious--title {
  line-height: 45px;
  font-size: 1.5em; }

.start__curious--main-title {
  line-height: 70px;
  padding: 44px 20px 68px 20px;
  font-size: 3.375em; }

.start__curious--shape {
  width: 0;
  height: 0;
  border-bottom: 355px solid #88eebf33;
  border-right: 369px solid transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; }

@media (max-width: 767px) {
  .start__art {
    padding: 23px 20px; }
  .start__art--paragraph {
    padding: 12px 0px 17px 0px; }
  .start__art--list {
    gap: 15px; }
  .start__curious {
    padding: 20px 28px; }
  .start__curious--main-title {
    padding: 22px 0px 34px 0px; }
  .start__curious--shape {
    border-bottom: 355px solid #88eebf33;
    border-right: 330px solid transparent;
    bottom: 0px; } }

@media (min-width: 1200px) {
  .start__content {
    grid-template-columns: 68.377% auto; } }

.services__list {
  gap: 30px;
  display: grid;
  margin-top: 70px; }

.services__card {
  padding: 60px;
  background-color: #FFFDEB;
  font-family: var(--header-font);
  justify-items: start; }

.services__card--texts {
  display: grid;
  gap: 19px;
  padding: 30px 0px; }

.services__card--title {
  line-height: 35px;
  font-size: 1.25em;
  font-weight: 500; }

.services__card--paragraph {
  line-height: 32px;
  font-size: 1.125em; }

.services__card--arrow {
  right: -1px;
  bottom: -11px;
  padding-left: 5px;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 0.6em;
  position: absolute; }

@media (max-width: 767px) {
  .services__lsit {
    gap: 15px; }
  .services__card {
    padding: 30px; } }

@media (min-width: 992px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr); } }

.from__two-categ {
  margin-top: 70px;
  display: grid; }

.from__blog {
  display: grid;
  gap: 35px;
  padding-right: 70px; }

.from__blog--break {
  width: 96%;
  opacity: 0.09; }

.from__card {
  display: grid; }

.from__card--content {
  padding: 9px 80px 0px 41px; }

.from__card--category {
  display: flex;
  gap: 22px;
  color: var(--primary-color);
  font-size: 0.875em;
  text-transform: uppercase;
  font-family: var(--header-font); }

.from__card--bottom {
  border-bottom: 1px dotted var(--secondary-color); }

.from__card--title {
  line-height: 35px;
  padding: 10px 0px 14px 0px;
  font-weight: 500;
  font-size: 1.25em; }

.from__card--link {
  font-family: var(--header-font);
  font-weight: bold;
  color: #000; }

.from__card--link:hover {
  color: var(--primary-color); }

.from__card--date {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 00.875em;
  color: #232323a1; }

.from__card--paragraph {
  line-height: 32px;
  font-weight: 300;
  font-size: 1.125em;
  color: #000;
  padding: 21px 0px 30px 0px; }

.from__subscribe {
  color: #fff;
  position: relative;
  z-index: 0;
  padding: 55px 41px 57.5px 41px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(180deg, #62cf72 0%, #17be8a 100%); }

.from__subscribe--title {
  font-size: 1.875em;
  font-family: var(--header-font); }

.from__subscribe--highlight {
  font-weight: 500; }

.from__subscribe--paragraph {
  padding: 35px 0px 29px 0px;
  line-height: 32px;
  font-size: 1.125em; }

.from__subscribe--form {
  display: grid;
  gap: 1em;
  text-align: start; }

.from__subscribe--button-section {
  margin-top: 20px; }

.from__subscribe--button {
  background-color: var(--secondary-color); }

.from__subscribe--shape {
  width: 0;
  height: 0;
  border-bottom: 400px solid #88eebf33;
  border-left: 370px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; }

.from__question {
  position: relative;
  margin-top: 60px;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  padding: 56px 37px 59.5px 37px;
  background-color: #FFFDEB; }

.from__question--image {
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: -1; }

.from__question--content {
  z-index: 1; }

.from__question--title {
  padding: 0px 51px;
  line-height: 40px;
  font-size: 1.875em;
  font-family: var(--header-font); }

.from__question--paragraph {
  padding: 22px 0px 23px 0px;
  line-height: 32px;
  font-size: 1.25em; }

.from__question--button {
  cursor: pointer; }

.from__question--button-link {
  background-color: var(--primary-color); }

.from__question--shape {
  width: 0;
  height: 0;
  border-bottom: 375px solid rgba(255, 223, 0, 0.1);
  border-left: 310px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; }

@media (max-width: 767px) {
  .from__two-categ {
    margin-top: 0px; }
  .from__blog {
    gap: 10px;
    padding-right: 0px; }
  .from__card--image {
    width: 100%; }
  .from__subscribe {
    padding: 1.5em; }
  .from__question {
    margin-top: 30px;
    padding: 20px 16px; }
  .from__question--shape {
    border-bottom: 268px solid rgba(255, 223, 0, 0.1);
    border-left: 375px solid transparent; } }

@media (min-width: 768px) {
  .from__blog {
    padding-right: 0px; }
  .from__two-categ {
    grid-template-columns: repeat(1, 1fr); }
  .from__card {
    grid-template-columns: repeat(1, 1fr); }
  .from__card--image {
    width: 100%; } }

@media (min-width: 992px) {
  .from__two-categ {
    grid-template-columns: repeat(1, 1fr); }
  .from__card {
    grid-template-columns: 270px auto; } }

@media (min-width: 1200px) {
  .from__two-categ {
    grid-template-columns: 68.377% auto; }
  .from__card {
    grid-template-columns: 270px auto; } }

.book {
  padding: 120px 0px 48px 0px;
  position: relative;
  text-align: center;
  font-family: var(--header-font);
  background-color: rgba(23, 190, 138, 0.05); }

.book__content {
  display: flex;
  row-gap: 15px;
  flex-wrap: wrap; }

.book__details {
  max-width: 652px; }

.book__sub-text {
  line-height: 35px;
  font-size: 1.3125em;
  text-transform: uppercase; }

.book__title {
  padding: 11px 0px 42px 0px;
  line-height: 79px;
  font-size: 3.25em; }

.book__button {
  justify-content: center; }

.book__get-button {
  display: flex;
  gap: 20.7px;
  align-items: center; }

@media (max-width: 767px) {
  .book {
    padding: 30px; }
  .book__content {
    flex-direction: column; }
  .book__details {
    margin: 0 auto; }
  .book__title {
    padding: 10px 0px 22px 0px; }
  .book__image {
    margin-top: 0px; } }

@media (min-width: 768px) {
  .book__image {
    margin-top: 0px; } }

@media (min-width: 992px) {
  .book__content {
    justify-content: space-between; }
  .book__image {
    margin-top: -160px; } }

.follow-us {
  text-align: center;
  background-image: url("/assests/img/blog-thumbnails/thumbnail-8.png");
  padding: 71px 0px; }

.follow-us__button {
  cursor: pointer;
  padding: 13px 25px;
  background-color: #fff;
  color: var(--primary-color);
  font-size: 1.1em;
  font-family: var(--header-font);
  border: 1px dotted var(--primary-color); }

.footer-navbar {
  padding: 51.5px 0px 79.5px 0px; }

.footer-navbar__content {
  row-gap: 20px;
  display: flex;
  justify-content: space-between; }

.footer-navbar__logo {
  margin-left: -75px; }

.footer-navbar__menu {
  margin: auto 0; }

.footer-navbar__menu--link {
  row-gap: 20px;
  column-gap: 56px;
  display: flex; }

.footer-navbar a {
  color: #000; }

.footer-navbar a:hover {
  color: var(--primary-color); }

@media (max-width: 767px) {
  .footer-navbar {
    padding: 15px; }
  .footer-navbar__content {
    flex-direction: column; }
  .footer-navbar__logo {
    text-align: center;
    margin-left: 0px; }
  .footer-navbar__menu--link {
    text-align: center;
    row-gap: 20px;
    flex-direction: column; } }

@media (min-width: 768px) {
  .footer-navbar__content {
    text-align: center;
    flex-direction: column; }
  .footer-navbar__logo {
    margin-left: 0px; }
  .footer-navbar__menu--link {
    flex-direction: column; } }

@media (min-width: 992px) {
  .footer-navbar__content {
    flex-direction: row; }
  .footer-navbar__menu--link {
    flex-direction: row; } }

.copyright {
  padding-bottom: 40.5px; }

.copyright__content {
  row-gap: 20px;
  display: flex;
  justify-content: space-between; }

.copyright__details {
  line-height: 32px;
  color: rgba(35, 35, 35, 0.8); }

.copyright__arrow-button {
  position: relative; }

.copyright__arrow-button--icon {
  right: 0px;
  bottom: -5px;
  color: var(--primary-color);
  position: absolute;
  font-size: 0.3em;
  padding-left: 3px;
  background-color: #fff; }

.copyright__theme-link {
  cursor: pointer;
  color: #000;
  font-family: var(--header-font);
  border: none;
  background-color: transparent;
  border-bottom: 1px dotted var(--primary-color); }

.copyright__theme-link:hover {
  color: var(--primary-color); }

@media (max-width: 767px) {
  .copyright__content {
    text-align: center;
    flex-direction: column; }
  .copyright__social-media {
    justify-content: center; } }
