@import 'reset';
@import 'media';
@import 'boilerplate';


%container{
    margin: 0 auto;
    padding: 0px 16px;
}

// responsove container
.container{
    @extend %container;
    @include media-sm{
        max-width: 540px;
    }
    @include media-md{
        max-width: 800px;
    }
    @include media-lg{
        max-width: 960px;
    }
    @include media-xl{
        max-width: 1170px;
    }
}

// notification styling
.top-notification{  
    font-size: 1rem;
    color: #fff;
    padding: 15px 0px;
    line-height: 35px;
    position: relative;
    background-color: var(--primary-color);
    font-family: var(--notification-font);
    &__content{
        display: flex;
    }
    &__cross{
        &--icon{
            top: 19px;
            right: 30px;
            position: absolute;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
    &__button{
        padding: 6px 16px;
        border: none;
        font-family: var(--header-font);
        background-color: var(--secondary-color);
    }
    @include media-sm{
        &__content{
            flex-direction: column;
        }
        &__cross{
            &--icon{
                top: 3px;
                right: 5px;
            }
        }
        &__text{
            margin-right: 0px;
        }
        &__button{
            margin-left: 0px;
        }
    }
    @include media-md{
        &__text{
            margin-right: 0px;
        }
        &__button{
            margin-left: 0px;
        }
    }
    @include media-xl{
        &__text{
            margin-right: 25px;
        }
        &__button{
            margin-left: 25px;
        }
    }
}
// header contact styling
.details{
    padding: 16px 0px;
    font-family: var(--notification-font);
    background-color: rgba(255,230,0, 0.08);
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__social-media{
        &--links{
            display: flex;
            gap: 19.7px;
        }
        a{
            color: rgba(35,35,35, 0.6);
        }
    }
    &__contact-address{
        &--links{
            display: flex;
            column-gap: 30.9px;
        }
        &--icon{
            color: var(--primary-color);
            font-size: 0.8rem;
        }
        a{
            color: #000;
        }
    }
    &__icons-navigation{
        display: flex;
        gap: 20.4px;
        &--search-cart{
            display: flex;
            gap: 14.5px;
        }
        &--icon{
            color: rgba(35,35,35, 0.6);
        }
        &--cart-icon{
            position: relative;
        }
        &--total-item{
            top: -9px;
            right: -9px;
            color: #fff;
            position: absolute;
            font-size: 0.75rem;
            padding: 2px 4.5px;
            border-radius: 50%;
            font-family: var(--paragraph-font);
            background-color: var(--primary-color);
        }
        &--hamburger-icon{
            width: 22.64px;
            height: 2.2px;
            background-color: rgba(35,35,35, 0.6);
            position: relative;
            margin: auto 0;
            border-radius: 15px;
            z-index: 1000;
            cursor: pointer;
            &::before,&::after{
                content: '';
                width: 22.64px;
                height: 2.2px;
                background-color: rgba(35,35,35, 0.6);
                position: absolute;
                border-radius: 15px;
                    transition: 0.25s ease-in-out;
            }
            &::before{
                transform: translateY(-7px);
            }
            &::after{
                transform: translateY(7px);
            }
        }
    }
    @include media-sm{
        &__content{
            position: relative;
            row-gap: 10px;
            flex-direction: column;
        }
        &__contact-address{
            &--links{
                row-gap: 10px;
                flex-direction: column;
            }
        }
        &__icons-navigation{
            right: 0px;
            position: absolute;
        }
    }
}
// menu + logo styling
.menu{
    font-size: 0.9375rem;
    padding: 24px 0px;
    font-family: var(--header-font);
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__navbar-button{
        display: flex;
        column-gap: 25px;
    }
    &__navbar{
        margin: auto 0;
        &--links{
            column-gap: 15px;
            display: flex;
        }
        &--drop{
            color: var(--primary-color);
        }
        a{
            color: #000;
        }
    }
    &__item{
        margin: auto 0;
        &--button{
            font-size: 1rem;
            padding: 13px 25px;
            border: 1px dotted var(--primary-color);
            color: var(--primary-color);
            background-color: #fff;
        }
    }
    @include media-sm{
        padding: 12px 0px;
        &__content{
            row-gap: 10px;
            text-align: center;
            flex-direction: column;
        }
        &__logo{
            margin-left: 0px;
        }
        &__navbar{
            display: none;
        }
        &__navbar-button{
            justify-content: center;
        }
    }
    @include media-md{
        &__logo{
            margin-left: 0px;
        }
        &__navbar{
            display: none;
        }
    }
    @include media-lg{
        &__logo{
            margin-left: 0px;
        }
        &__navbar{
            display: none;
        }
    }
    @include media-xl{
        &__navbar{
            display: block;
        }
        &__logo{
            margin-left: -75px;
        }
    }
}