@import 'reset';
@import 'media';
@import 'boilerplate';


%container-fluid{
    margin: 0 auto;
    padding: 0px 16px;
}
%container{
    margin: 0 auto;
    padding: 0px 16px;
}


// responsove container
.container-fluid{
    @extend %container-fluid;
    @include media-sm{
        max-width: 540px;
    }
    @include media-md{
        max-width: 800px;
    }
    @include media-lg{
        max-width: 960px;
    }
    @include media-xl{
        max-width: 1600px;
    }
}

.container{
    @extend %container;
    @include media-sm{
        max-width: 510px;
    }
    @include media-md{
        max-width: 770px;
    }
    @include media-lg{
        max-width: 930px;
    }
    @include media-xl{
        max-width: 1170px;
    }
}

// sticky header
.header{
    top: 0;
    left: 0;
    position: sticky;
    z-index: 95;
}

// navbar menus
.hamburger{
    width: 22.64px;
    height: 2.2px;
    background-color: rgba(35,35,35, 0.6);
    position: relative;
    margin: auto 0;
    border-radius: 15px;
    z-index: 1000;
    cursor: pointer;
    &::before,&::after{
        content: '';
        width: 22.64px;
        height: 2.2px;
        background-color: rgba(35,35,35, 0.6);
        position: absolute;
        border-radius: 15px;
        transition: 0.25s ease-in-out;
    }
    &::before{
        transform: translateY(-7px);
    }
    &::after{
        transform: translateY(7px);
    }
}
.hamburger-menu{
    width: 35px;
    height: 5px;
    background-color: #000;
    position: relative;
    margin: auto 0;
    border-radius: 15px;
    z-index: 99;
    cursor: pointer;
    &::before,&::after{
        content: '';
        width: 35px;
        height: 5px;
        background-color: #000;
        position: absolute;
        border-radius: 15px;
        transition: 0.25s ease-in-out;
    }
    &::before{
        transform: translateY(-12px);
    }
    &::after{
        transform: translateY(12px);
    }
    @include media-xl{
        display: none;
    }
}
.extra-menu{
    display: none;
    &__items{
        position: fixed;
        inset: 0 70% 0 0;
        display: flex;
        flex-direction: column;
        gap: 3em;
        text-align: center;
        z-index: 100;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.9);
        padding-top: 120px;
        box-shadow: -5px 3px 24px -18px rgba(0, 0, 0, 75%) inset;
        a{
            color: #000;
        }
        @include media-sm{
            inset: 0 0 0 30%;
        }
    }
    a{
        &:hover{
            color: var(--primary-color);
        }
    }
}

// notification styling
.top-notification{  
    font-size: 1em;
    color: #fff;
    line-height: 35px;
    position: relative;
    background-color: var(--primary-color);
    font-family: var(--notification-font);
    &__content{
        column-gap: 50px;
        display: flex;
    }
    &__icon{
        position: absolute;
        cursor: pointer;
        font-size: 1.5em;
    }
    &__button{
        cursor: pointer;
        padding: 6px 16px;
        border: none;
        font-family: var(--header-font);
        background-color: var(--secondary-color);
    }
    @include media-sm{
        padding: 0px 0px;
        &__content{
            height: 0;
            opacity: 0;
        }
        &__icon{
            top: 3px;
            right: 9px;
        }
        &__text{
            margin-right: 0px;
        }
        &__button{
            margin-left: 0px;
        }
    }
    @include media-md{
        &__content{
            flex-direction: column;
        }
        &__icon{
            top: 7px;
            right: 10px;
        }
        &__text{
            margin-right: 0px;
        }
        &__button{
            margin-left: 0px;
        }
    }
    @include media-xl{
        &__content{
            justify-content: center;
            flex-direction: row;
        }
        &__icon{
            top: 19px;
            right: 30px;
        }
    }
}

// header contact styling
.details{
    padding: 16px 0px;
    font-family: var(--notification-font);
    background-color: #FFFDEB;
    &__content{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__bell{
        top: -16px;
        right: 130px;
        position: absolute;
        color: #fff;
        font-size: 0.8em;
        padding: 6px;
        border-radius: 5px;
        display: none;
        background-color: var(--primary-color);
    }
    &__social-media{
        &--links{
            display: flex;
            gap: 19.7px;
        }
        a{
            color: rgba(35,35,35, 0.6);
        }
    }
    &__contact-address{
        &--links{
            display: flex;
            column-gap: 30.9px;
        }
        &--icon{
            color: var(--primary-color);
            font-size: 0.8em;
        }
        a{
            color: inherit;
            &:hover{
                color: var(--primary-color);
            }
        }
    }
    &__icons-navigation{
        display: flex;
        gap: 20.4px;
        &--search-cart{
            display: flex;
            gap: 14.5px;
        }
        &--icon{
            cursor: pointer;
            color: rgba(35,35,35, 0.6);
            &:hover{
                color: var(--primary-color);
            }
        }
        &--cart-icon{
            position: relative;
        }
        &--total-item{
            top: -9px;
            right: -9px;
            color: #fff;
            position: absolute;
            font-size: 0.75em;
            padding: 2px 4.5px;
            border-radius: 50%;
            font-family: var(--paragraph-font);
            background-color: var(--primary-color);
        }
    }
    @include media-sm{
        &__content{
            position: relative;
            row-gap: 10px;
            flex-direction: column;
        }
        &__contact-address{
            display: none;
        }
        &__icons-navigation{
            right: 0px;
            position: absolute;
        }
        &__bell{
            height: 0;
            opacity: 0;
        }
    }
}

// search
.search{
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    font-family: var(--paragraph-font);
    transition: 0.5s ease-in-out;
    &__close-icon{
        top: 80px;
        right: 260px;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
    }
    &__form{
        text-align: center;
        top: 50%;
        position: relative;
        &--search{
            width: 50%;
            padding: 16px;
            font-size: 1.5em;
            border: none;
            &:focus{
                outline: solid var(--primary-color);
            }
        }
        &--submit{
            cursor: pointer;
            color: #fff;
            font-size: 1.5em;
            padding: 16px 20px;
            border: none;
            background-color: var(--primary-color);
            &:hover{
                color: #000;
                transition: 0.5s all ease-in-out;
                background-color: var(--secondary-color);
            }
        }
    }
    &__hide{
        display: none;
    }
    &__open{
        opacity: 1;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
    }
    @include media-sm{
        &__close-icon{
            top: 15px;
            right: 50px;
        }
        &__form{
            &--search{
                width: 60%;
                padding: 8px;
                font-size: 1em;
            }
            &--submit{
                padding: 8px;
                font-size: 1em;
            }
        }
    }
}

// hamburger animation
.small-menu-animate{
    position: relative;
    background-color: transparent;
    &::before{
        transform: rotate(-45deg);
    }
    &::after{
        transform: rotate(45deg);
    }
}
.animate-menu{
    position: relative;
    background-color: transparent;
    &::before{
        transform: rotate(-45deg);
    }
    &::after{
        transform: rotate(45deg);
    }
}

// menu + logo styling
.menu{
    background-color: #fff;
    font-size: 0.9375em;
    padding: 24px 0px;
    font-family: var(--header-font);
    box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.13);
    &__content{
        column-gap: 30px;
    }
    &__navbar-button{
        display: flex;
        justify-content: end;
        column-gap: 75px;
    }
    &__navbar{
        margin: auto 0;
        &--links{
            row-gap: 15px;
            column-gap: 55px;
            display: flex;
            flex-wrap: wrap;
        }
        a{
            color: #000;
            &:hover{
                color: var(--primary-color);
            }
        }
    }
    &__button-section{
        margin: auto 0;
        &--button{
            cursor: pointer;
            font-size: 1em;
            padding: 13px 25px;
            border: 1px dotted var(--primary-color);
            color: var(--primary-color);
            background-color: #fff;
            &:hover{
                border: 1px dotted #fff;
                color: #fff;
                background-color: var(--primary-color);
            }
        }
    }
    @include media-sm{
        padding: 12px 0px;
        &__content{
            display: grid;
            justify-content: space-between;
            grid-template-columns: 80% auto;
            column-gap: 10px;
        }
        &__logo{
            margin-left: 0px;
        }
        &__navbar-button{
            display: none;
            flex-direction: column-reverse;
            justify-content: center;
        }
        &__drop-menu{
            &--list{
                display: grid;
                padding-top: 2em;
                gap: 2em;
            }
        }
        &__sub-drop{
            &--list{
                display: grid;
                padding-top: 2em;
                gap: 2em;
            }
        }
    }
    @include media-md{
        padding: 12px 0px;
        &__content{
            display: grid;
            justify-content: space-between;
            grid-template-columns: 80% auto;
        }
        &__navbar-button{
            display: none;
        }
        &__drop-menu{
            &--list{
                display: grid;
                padding-top: 2em;
                gap: 2em;
            }
        }
        &__sub-drop{
            &--list{
                display: grid;
                padding-top: 2em;
                gap: 2em;
            }
        }
    }
    @include media-xl{
        &__content{
            display: flex;
            justify-content: space-between;
        }
        &__navbar-button{
            display: flex;
        }  
        &__drop-menu{
            position: relative;
            &--item{
                display: none;
            }
            &:hover &--item{
                width: 200px;
                display: grid;
                padding: 16px;
                gap: 16px;
                position: absolute;
                background-color: #fff;
                box-shadow: 0px 3px 9px -7px rgba(0,0,0,0.5);
            }
        }
        &__sub-drop{
            position: relative;
            &--item{
                display: none;
            }
            &:hover &--item{
                top: -70%;
                left: 100%;
                width: 150px;
                display: grid;
                padding: 16px;
                gap: 16px;
                position: absolute;
                background-color: #fff;
                box-shadow: 0px 3px 9px -7px rgba(0,0,0,0.5);
            }
        }
    }
}

// navbar in mobile
.list-nav{
    @include media-sm{
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 30% 0 0;
        text-align: center;
        z-index: 100;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 60px;
        &--links{
            display: flex;
            flex-direction: column;
            gap: 3em;
        }
    }
    @include media-md{
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 30% 0 0;
        text-align: center;
        z-index: 100;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 120px;
        &--links{
            display: flex;
            flex-direction: column;
            gap: 3em;
        }
    }
    @include media-xl{
        display: none;
    }
}

// first-section
.first-section{
    width: 100%;
    padding: 120px 150px;
    &__content{
        row-gap: 15px;
        display: grid;
        align-items: center;
    }
    &__texts{
        margin: auto 0;
    }
    &__text-content{
        margin: 0 auto;
        text-align: center;
        padding: 75px 88px 80px;
        background-color: #fff;
        max-width: 678px;
        &--paragraph{
            line-height: 1.954em;
            font-size: 1.375em;
            padding: 33px 0px 36px 0px;
        }
    }
    @include media-sm{
        padding: 30px 16px;
        &__text-content{
            padding: 20px 22px 30px;
        }
    }
    @include media-lg{
        &__content{
            grid-template-columns: repeat(1,1fr);
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: 65% auto;
        }
        &__texts{
            margin-left: -120px;
        }
    }
}

// as seen section
.as-seen{
    padding: 90px 0px 69px 0px;
    &__content{
        text-align: center;
    }
    &__title{
        &--paragraph{
            line-height: 1.78em;
            font-size: 1.125em;
            text-transform: uppercase;
        }
    }
    &__image{
        padding: 26px 0px;
        row-gap: 30px;
        column-gap: 132px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    @include media-sm{
        padding: 30px 0px;
        &__image{
            padding: 20px 0px 0px;
            justify-content: center;
        }
    }
    @include media-md{
        &__image{
            justify-content: space-evenly;
        }
    }
    @include media-xl{
        &__image{
            justify-content: space-between;
        }
    }
}

// health coach section
.health-coach{
    padding: 120px 0px 294.05px 0px;
    &__card{
        &--next{
            top: 50%;
            right: -2.3%;
            z-index: 5;
            position: absolute;
        }
        &--prev{
            top: 50%;
            left: -2.3%;
            z-index: 5;
            position: absolute;
        }
        &--slider-navigation{
            cursor: pointer;
            color: var(--primary-color);
            padding: 22px 10px;
            border: 1px solid var(--primary-color);
            background-color: #fff;
        }
    }
    @include media-sm{
        padding: 15px 0px 350px;
        &__card{
            &--next{
                right: 2%;
            }
            &--prev{
                left: 2%;
            }
        }
    }
}

// about me section styling
.about-me{
    &__slider-section{
        position: relative;
    }
    &__feature-card{
        &--image{
            position: relative;
        }
        &--contents{
            padding: 0px 40px;
            left: 0px;
            bottom: 0px;
            position: absolute;
            width: 100%;
            transform: translate(2px, 0px);
        }
        &--texts{
            gap: 25px;
            display: grid;
            justify-items: center;
            padding: 67px 30.1px 39.4px 30.5px;
            background-color: #fff;
        }
        &--title{
            font-family: var(--header-font);
            font-size: 1.125em;
            line-height: 2.5em;
        }
    
    }
    &__details{
        position: relative;
        padding: 165px 0px 57px 0px;
        display: grid;
        &--back-image{
            z-index: -1;
            top: 120px;
            left: 204px;
            position: absolute;
        }
    }
    &__images{
        margin: auto 0;
        position: relative;
        &--main{
            position: relative;
        }
        &--thumbs-up{
            top: -3%;
            right: 25%;
            position: absolute;
        }
        &--heart{
            left: -3%;
            top: 50%;
            position: absolute;
        }
    }
    &__text{
        background-color: #fff;
    }
    &__hi{
        line-height: 1.267em;
        font-size: 3.75em;
        font-family: var(--signature-font);
        transform: rotate(-8deg);
    }
    &__paragraph{
        line-height: 1.78em;
        font-size: 1.125em;
        padding: 35px 0px 21.5px;
    }
    &__mission{
        font-family: var(--header-font);
        font-size: 1.375em;
        line-height: 1.818em;
        padding: 21.5px 0px 50px;
    }
    @include media-sm{
        padding: 50px 0px 30px 0px;
        &__slider-section{
            margin-top: -375px;
        }
        &__details{
            padding: 50px 0px 0px 0px;
            grid-template-columns: repeat(1,1fr);
            &--back-image{
                display: none;
            }
        }
        &__text{
            gap: 10px;
            padding: 0px;
        }
        &__feature-card{
            &--contents{
                padding: 0px 20px;
                left: 0px;
                bottom: 0px;
                position: absolute;
                gap: 15px;
            }
            &--texts{
                padding: 25px 20px 15px;
                background-color: #fff;
            }
            &--title{
                font-size: 1em;
            }
        }
        &__hi{
            padding: 15px 20px 35px;
        }
        &__paragraph{
            padding: 15px 0px;
        }
        &__mission{
            padding: 0px 0px 15px 0px;
        }
    }
    @include media-md{
        &__slider-section{
            margin-top: -270px;
        }
        &__main-image{
            width: 100%;
        }
        &__details{
            grid-template-columns: repeat(1,1fr);
            &--back-image{
                display: none;
            }
        }
        &__text{
            padding: 0px;
        } 
        &__hi{
            padding: 0px 20px 75px;
        }
    }
    @include media-lg{
        &__slider-section{
            margin-top: -320px;
        }
        &__images{
            &--thumbs-up{
                top: -1.5%;
                right: 25%;
            }
            &--heart{
                left: -1.5%;
                top: 50%;
            }
        }
        &__hi{
            padding: 15px 20px 75px;
        }
    }
    @include media-xl{
        &__slider-section{
            margin-top: -265px;
        }
        &__main-image{
            width: auto;
        }
        &__images{
            &--thumbs-up{
                top: -3%;
                right: 25%;
            }
            &--heart{
                left: -3%;
                top: 50%;
            }
        }
        &__details{
            grid-template-columns: 45.3% auto;
            // grid-template-columns: 43.762% auto;
            &--back-image{
                display: block;
            }
        }  
        &__text{
            padding: 40.4px 0px 63px 64px;
        }    
        &__hi{
            padding: 0px 0px 50px 24px;
        } 
    }
}

// line
.line{
    padding: 30px 0px;
    &__primary{
        height: 1px;
        border: none;
        opacity: 0.1;
        background-color: var(--primary-color);
    }
    @include media-sm{
        padding: 0px;
    }
}

// coach benifits
.benifits{
    padding: 90px 0px 70px 0px;
    &__details{
        padding: 70px 0px 50px 0px;
        display: grid;
    }
    &__all-benifits{
        display: grid;
    }
    &__card{
        padding: 41px 40px 57px;
        border: 1px solid #88eebe83;
        &--title{
            padding: 21px 0px 20px;
            line-height: 2.368em;
            font-size: 1.1875em;
            font-family: var(--header-font);
        }
        &--paragraph{
            line-height: 1.78em;
            font-size: 1.125em;
        }
    }
    &__banner{
        position: relative;
        text-align: center;
        background-color: #FFFDEB;
        z-index: -2;
        &--image{
            top: -51px;
            right: -16px;
            position: absolute;
        }
        &--texts{
            display: grid;
            gap: 23px;
            padding: 82px 27px ;
        }
        &--title{
            padding: 0px 35px;
            line-height: 1.67em;
            text-transform: capitalize;
        }
        &--paragraph{
            line-height: 1.954em;
            font-size: 1.375em;
        }
        &--button{
            padding-top: 32px;
        }
        &--shape{
            width: 0; 
            height: 0; 
            border-bottom: 375px solid rgba(255,223,0,0.1); 
            border-left: 310px solid transparent; 
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    @include media-sm{
        padding: 30px 0px;
        &__details{
            gap: 55px;
            padding: 0px 0px;
        }
        &__all-benifits{
            gap: 15px;
            padding-right: 0px;
        }
        &__card{
            padding: 20px;
            &--title{
                padding: 0px 0px;
            }
        }
        &__banner{
            &--title{
                padding: 0px;
            }
        }
    }
    @include media-md{
        &__details{            
            row-gap: 55px;
            grid-template-columns: repeat(1,1fr);
        }
        &__all-benifits{
            gap: 30px;
            padding-right: 0px;
            grid-template-columns: repeat(2,1fr);
        }
    }
    @include media-xl{
        &__details{
            grid-template-columns: 67.488% auto;
        }
        &__all-benifits{
            gap: 30px;
            padding-right: 30px;
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// customer stories
.stories{
    padding: 120px 0px 406px 0px;
    @include media-sm{
        padding: 30px 0px 250px 0px;
    }
}

// feedback
.feedback{
    margin-top: -335px;
    padding-bottom: 120px;
    &__content{
        padding: 0px 165px;
        position: relative;
    }
    &__nav{
        z-index: 5;
        cursor: pointer;
        position: absolute;
    }
    &__swiper-started{
        margin: 20px auto 0px;
        max-width: 970px;
        max-height: 580px;
        position: relative;
        background-color: #232323;
    }
    &__swiper{
        top: -50px;
    }
    &__card{
        margin: 0 auto;
        max-width: 970px; //74.2%
        font-family: var(--header-font);
        &--texts{
            color: #fff;
        }
        &--main-text{
            line-height: 1.875em;
            font-size: 1.5em;
        }
        &--sub-text{
            line-height: 1.78em;
            font-size: 1.125em;
            padding: 16px 0px 8px;
            font-family: var(--paragraph-font);
        }
        &--author{
            line-height: 1.3em;
            font-size: 3.56em;
            padding: 8px 0px;
            font-family: var(--signature-font);
        }
        &--user-designation{
            line-height: 2.187em;
        }
    }
    &__bullet{
        display: flex;
        gap: 13px;
        margin: 0 auto;
        max-width: 970px;
        margin-top: -1px;
        justify-content: center;
        padding: 27.5px 0px 30px;
        background-color: #232323;
    }
    @include media-sm{
        margin-top: -265px;
        padding-bottom: 90px;
        &__content{
            padding: 0px;
        }
        &__nav{
            &--icon{
                width: 70%;
            }
            &--right{
                top: 50%;
                right: -2%;
            }
            &--left{
                top: 50%;
                left: 2%;
            }
        }
        &__swiper-started{
            margin-top: 60px;
            max-height: 800px;
        }
        &__card{
            &--texts{
                padding: 24px 46.25px 6.75px 46.25px;
            }
            &--main-text{
                line-height: 35px;
                font-size: 1.2em;
            }
            &--sub-text{
                font-size: 1em;
            }
            &--author{
                font-size: 2.5em;
            }
        }
    }
    @include media-md{
        &__content{
            padding: 0px 30px;
        }
        &__nav{
            &--right{
                top: 50%;
                right: 8%;
            }
            &--left{
                top: 50%;
                left: 8%;
            }
        }
        &__card{
            &--texts{
                padding: 44px 95px 13.5px 95px;
            }
        }
    }
    @include media-lg{
        &__nav{
            &--right{
                top: 50%;
                right: 5%;
            }
            &--left{
                top: 50%;
                left: 5%;
            }
        }
        &__card{
            &--texts{
                padding: 36px 185px 27.5px 185px;
            }
        }
    }
    @include media-xl{
        &__nav{
            &--right{
                top: 50%;
                right: 10%;
            }
            &--left{
                top: 50%;
                left: 10%;
            }
        }
    }
}

// start section
.start{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assests/img/image-2.png");
    font-family: var(--header-font);
    &__content{
        display: grid;
    }
    &__art{
        padding: 86px 80px;
        background-color: #fff;
        &--title{
            line-height: 1.5em;
            font-size: 1.875em;
        }
        &--texts{
            line-height: 1.954em;
            font-size: 1.375em;
            color: rgba(0,0,0,0.8);
            font-family: var(--paragraph-font);
        }
        &--paragraph{
            padding: 36px 0px 50px 0px;
        }
        &--list{
            display: grid;
            gap: 34px;
            line-height: 1.78em;
            font-size: 1.125em;
            padding-left: 25px;
            list-style-image: url("/assests/img/icons/check.png");
        }
    }
    li{
        &::marker{
            margin-top: 5px;
        }
    }
    &__curious{
        z-index: 0;
        color: #fff;
        text-align: center;
        padding: 96px 30px;
        position: relative;
        overflow: hidden;
        display: grid;
        align-content: center;
        background-color: var(--primary-color);
        &--title{
            line-height: 45px;
            font-size: 1.5em;
        }
        &--main-title{
            line-height: 70px;
            padding: 44px 20px 68px 20px;
            font-size: 3.375em;
        }
        &--shape{
            width: 0; 
            height: 0; 
            border-bottom: 355px solid #88eebf33; 
            border-right: 369px solid transparent; 
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    @include media-sm{
        &__art{
            padding: 23px 20px;
            &--paragraph{
                padding: 12px 0px 17px 0px;
            }
            &--list{
                gap: 15px;
            }
        }
        &__curious{
            padding: 20px 28px;
            &--main-title{
                padding: 22px 0px 34px 0px;
            }
            &--shape{
                border-bottom: 355px solid #88eebf33; 
                border-right: 330px solid transparent; 
                bottom: 0px;
            }
        }
    }
    @include media-xl{
        &__content{
            grid-template-columns: 67.488% auto;
        }
    }
}

// services section
.services{
    padding: 120px 0px 60px;
    &__list{
        gap: 30px;
        display: grid;
        margin-top: 70px;
    }
    &__card{
        padding: 60px;
        background-color: #FFFDEB;
        font-family: var(--header-font);
        justify-items: start;
        &--texts{
            display: grid;
            gap: 19px;
            padding: 30px 0px;
        }
        &--title{
            line-height: 1.75em;
            font-size: 1.25em;
            font-weight: 500;
        }
        &--paragraph{
            line-height: 1.78;
            font-size: 1.125em;
        }
        &--arrow{
            right: -1px;
            bottom: -11px;
            padding-left: 5px;
            background-color: #fff;
            color: var(--primary-color);
            font-size: 0.6em;
            position: absolute;
        }
    }
    @include media-sm{
        padding: 30px 0px 15px;
        &__list{
            gap: 15px;
            margin-top: 0px;
        }
        &__card{
            padding: 30px;
        }
    }
    @include media-lg{
        &__list{
            grid-template-columns: repeat(2,1fr);
        }
    }
}

// from the blog
.from{
    padding: 60px 0px 120px;
    &__two-categ{
        margin-top: 70px;
        display: grid;
        row-gap: 20px;
    }
    &__blog{
        display: grid;
        gap: 35px;
        padding-right: 70px;
        &--break{
            width: 96%;
            opacity: 0.09;
        }
    }
    &__card{
        display: grid;
        &--category{
            display: flex;
            gap: 22px;
            color: var(--primary-color);
            font-size: 0.875em;
            text-transform: uppercase;
            font-family: var(--header-font);
        }
        &--bottom{
            color: var(--primary-color);
            border-bottom: 1px dotted var(--secondary-color);
        }
        &--title{
            // line-height: 1.75em;
            padding: 10px 0px 14px 0px;
            font-weight: 500;
            font-size: 1.25em;
        }
        &--link{
            font-family: var(--header-font);
            font-weight: bold;
            color: #000;
            &:hover{
                color: var(--primary-color);
            }
        }
        &--date{
            font-weight: 300;
            text-transform: uppercase;
            font-size: 00.875em;
            color: #232323a1;
        }
        &--paragraph{
            line-height: 1.78em;
            font-weight: 300;
            font-size: 1.125em;
            color: #000;
            padding: 21px 0px 30px 0px;
        }
    }
    &__subscribe{
        color: #fff;
        position: relative;
        z-index: 0;
        padding: 55px 41px 57.5px 41px;
        text-align: center;
        overflow: hidden;
        background: linear-gradient(180deg, rgba(98,207,114,1) 0%, rgba(23,190,138,1) 100%);
        &--title{
            line-height: 1.33em;
            font-size: 1.875em;
            font-family: var(--header-font);
        }
        &--highlight{
            font-weight: 500;
        }
        &--paragraph{
            padding: 35px 0px 29px 0px;
            line-height: 1.78em;
            font-size: 1.125em;
        }
        &--form{
            display: grid;
            gap: 1em;
            text-align: start;
        }
        &--button-section{
            margin-top: 20px;
        }
        &--button{
            background-color: var(--secondary-color);
        }
        &--shape{
            width: 0; 
            height: 0; 
            border-bottom: 400px solid #88eebf33; 
            border-left: 370px solid transparent; 
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    &__question{
        position: relative;
        margin-top: 60px;
        text-align: center;
        z-index: 0;
        overflow: hidden;
        padding: 56px 37px 59.5px 37px;
        background-color: #FFFDEB;
        &--image{
            right: 0px;
            bottom: 0px;
            position: absolute;
            z-index: -1;
        }
        &--content{
            z-index: 1;
        }
        &--title{
            padding: 0px 51px;
            line-height: 1.33em;
            font-size: 1.875em;
            font-family: var(--header-font);
        }
        &--paragraph{
            padding: 22px 0px 23px 0px;
            line-height: 1.78em;
            font-size: 1.25em;
        }
        &--button{
            cursor: pointer;
        }
        &--button-link{
            background-color: var(--primary-color);
        }
        &--shape{
            width: 0; 
            height: 0; 
            border-bottom: 375px solid rgba(255,223,0,0.1); 
            border-left: 310px solid transparent; 
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
    @include media-sm{
        padding: 15px 0px 30px;
        &__two-categ{
            margin-top: 0px;
        }
        &__blog{
            gap: 20px;
            padding-right: 0px;
        }
        &__card{
            &--image{
                width: 100%;
            }
            &--content{
                padding: 9px 0px;
            }
        }
        &__subscribe{
            padding: 1.5em;
        }
        &__question{
            margin-top: 30px;
            padding: 20px 16px;
            &--shape{
                border-bottom: 268px solid rgba(255,223,0,0.1); 
                border-left: 375px solid transparent; 
            }
        }
    }
    @include media-md{
        &__blog{
            padding-right: 0px;
        }
        &__two-categ{
            grid-template-columns: repeat(1,1fr);
        }
        &__card{
            grid-template-columns: repeat(1,1fr);
            &--image{
                width: 100%;
            }            
            &--content{
                padding: 9px 0px;
            }
        }
    }
    @include media-lg{
        &__two-categ{
            grid-template-columns: repeat(1,1fr);
        }
        &__card{
            grid-template-columns: 270px auto;
            &--content{
                padding: 9px 80px 0px 41px;
            }
        }
    }
    @include media-xl{
        &__two-categ{
            grid-template-columns: 67.488% auto;
        }
        &__card{
            grid-template-columns: 270px auto;
        }
    }
}

// book section
.book{
    padding: 120px 0px 48px 0px;
    position: relative;
    text-align: center;
    font-family: var(--header-font);
    background-color: rgba(23,190,138, 0.05);
    &__content{
        display: flex;
        row-gap: 15px;
        flex-wrap: wrap;
    }
    &__details{
        max-width: 652px;
    }
    &__sub-text{
        line-height: 35px;
        font-size: 1.3125em;
        text-transform: uppercase;
    }
    &__title{
        padding: 11px 0px 42px 0px;
        line-height: 79px;
        font-size: 3.25em;
    }
    &__button{
        justify-content: center;
    }
    &__get-button{
        display: flex;
        gap: 20.7px;
        align-items: center;
    }
    @include media-sm{
        padding: 30px;
        &__content{
            flex-direction: column;
        }
        &__details{
            margin: 0 auto;
        }
        &__title{
            padding: 10px 0px 22px 0px;
        }
        &__image{
            margin-top: 0px;
        }
    }
    @include media-md{
        &__image{
            margin-top: 0px;
        }

    }
    @include media-lg{
        &__content{
        justify-content: space-between;
        }
        &__image{
            margin-top: -160px;
        }
    }
}

// footer Section
// follow on instagram
.follow-us{
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assests/img/blog-thumbnails/thumbnail-8.png");
    padding: 71px 0px;
    &__button{
        cursor: pointer;
        padding: 13px 25px;
        background-color: #fff;
        color: var(--primary-color);
        font-size: 1.1em;
        font-family: var(--header-font);
        border: 1px dotted var(--primary-color);
    }
}

// footer navbar
.footer-navbar{
    padding: 51.5px 0px 79.5px 0px;
    &__content{
        row-gap: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin-left: -75px;
    }
    &__menu{
        margin: auto 0;
        &--link{
            row-gap: 20px;
            column-gap: 56px;
            display: flex;
        }
    }
    a{
        color: #000;
        &:hover{
            color: var(--primary-color);
        }
    }
    @include media-sm{
        padding: 15px;
        &__content{
            flex-direction: column;
        }
        &__logo{
            text-align: center;
            margin-left: 0px;
        }
        &__menu{
            &--link{
                text-align: center;
                row-gap: 20px;
                flex-direction: column;
            }
        }
    }
    @include media-md{
        &__content{
            text-align: center;
            flex-direction: column;
        }
        &__logo{
            margin-left: 0px;
        }
        &__menu{
            &--link{
                flex-direction: column;
            }
        }
    }
    @include media-lg{
        &__content{
            flex-direction: row;
        }
        &__menu{
            &--link{
                flex-direction: row;
            }
        }
    }
}

// copyright section
.copyright{
    padding-bottom: 40.5px;
    &__content{
        row-gap: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__details{
        line-height: 32px;
        color: rgba(35,35,35,0.8);
    }
    &__arrow-button{
        position: relative;
        &--icon{
            right: 0px;
            bottom: -5px;
            color: var(--primary-color);
            position: absolute;
            font-size: 0.3em;
            padding-left: 3px;
            background-color: #fff;
        }
    }
    &__theme-link{
        cursor: pointer;
        color: #000;
        font-family: var(--header-font);
        border: none;
        background-color: transparent;
        border-bottom: 1px dotted var(--primary-color);
        &:hover{
            color: var(--primary-color);
        }
    }
    @include media-sm{
        &__content{
            text-align: center;
            flex-direction: column;
        }
        &__social-media{
            justify-content: center;
        }
    }
}
